.contact-form-container {
    width: 500px;
    margin-bottom: 20px;
}

.form-control {
    width: 100%;
    font-size: 17px;
}

.alert {
    margin-bottom: 10px;
    color: #3c763d;
    background-color: #dff0d8;
    padding: 20px;
    border-color: #d6e9c6;
	display: none;
}